@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.75rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

button:focus {
  outline: none;
}

summary:focus {
  outline: none;
}

.introjs-button {
  background-color: #f8f9fa !important;
  text-shadow: none !important;
  border: solid 1px #757575 !important;
}

.introjs-nextbutton {
  background-color: #18af9d !important;
  text-shadow: none !important;
  border: none !important;
  color: white !important;
}
